@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Pixelify+Sans&family=Raleway:wght@100;400&family=Young+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    transition: all 200ms ease-in-out;
}

body {
    font-family: 'Raleway', Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: #000;
    cursor: default;
    background:
    linear-gradient(217deg, #6e7595, rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(127deg, #688268, rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, #8f7676, rgba(0, 0, 255, 0) 70.71%);
}


.container {
    max-width: 500px;
    margin: auto;
    padding: 5px;

}

/* .portfolio {
    display: block;
    margin: 5px;
    background: #9343436c;
    border: 2px;
    border-radius: 5px;
    position: fixed;
    right: 10px;
    padding: 5px;
    margin-right: 5px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.portfolio:hover {
    color: #9343436c;
    font-size: 17px;
} */

.img {
    border: 10px solid rgba(156, 156, 156, 0.633);
    border-radius: 50%;
    width: 25%;
    margin: 10px;
    margin-top: 10%;
}

.imgs {
    background: url(https://wallpapersmug.com/download/1440x900/e4fb1f/pattern-colorful-texture.jpg);
    border: 1px;
    border-radius: 5px;
    width: 100%;
    height: 200px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    margin: 5px;
    padding: 5px;
}

.name {
    margin: 5px;
    width: 100%;
    padding: 5px;
    background: #82fdf968;
    border: 1px;
    border-radius: 5px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.name h1 {
    text-align: center;
    padding: 5px;
    margin: 5px;
    border-bottom: 1px solid black;
    width: 99%;
    box-sizing: border-box;
    font-size: 18px;
}

.hobby {
    background-color: #ffd8949b;
    margin: 5px;
    padding: 5px;
    border: 2px;
    border-radius: 5px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    width: 100%;
    list-style: none;
}

.my-hobby {
    padding: 5px;
    margin: 5px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    width: 99%;
    box-sizing: border-box;
    font-size: 18px;
}

.games {
    padding-left: 10%;
}

.table-main {
    padding-left: 10%;
}

.table {
    background-color: #cbf78891;
    margin: 5px;
    padding: 5px;
    border: 2px;
    border-radius: 5px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: auto;
}

.table tbody td {
 margin: 5px;
 padding: 0px;
 width: 38%;
 box-sizing: content-box;
}

.table-th {
    padding: 5px;
    margin: 5px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    width: 99%;
    box-sizing: border-box;
    font-size: 18px;
}

.links {
    background-color: #fd86867e;
    margin: 5px;
    padding: 5px;
    border: 2px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    width: 100%;
}

.links h2 {
    padding: 5px;
    margin: 5px;
    margin-top: 0;
    border-bottom: 1px solid black;
    width: 99%;
    box-sizing: border-box;
    font-size: 18px;
}

.vk {
    color: black;
    border: 1px;
    border-radius: 4px;
    padding: 2px;
}

.vk:hover {
    color: #0077fe;
    font-size: 17px;
}


.tg {
    color: black;
    border: 1px;
    border-radius: 4px;
    padding: 2px;
}

.tg:hover {
    color: #18a3e6;
    font-size: 17px;
}

.codepen {
    color: black;
    border: 1px;
    border-radius: 4px;
    padding: 2px;
}

.codepen:hover {
    color: #6d6e6e;
    font-size: 17px;
}

.git {
    color: black;
    border: 1px;
    border-radius: 4px;
    padding: 2px;
}

.git:hover {
    color: #9d9d9d;
    font-size: 17px;
}

.btn {
    background-color: #555;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

.btn:hover {
    color: gold;
}


.link {
    border: none;
    color: #000;
    transition: all 200ms ease-in-out;
    text-decoration: none;
}

.table th {
    margin-bottom: 50px;
}

.form h3 {
    text-align: center;
}


.form-row {
    margin-bottom: 10px;
    display: flex;
}

.form-group {
    width: 50%;
}

.form-row .form-group {
    margin-right: 20px;
}

.form-row .form-group:last-child {
    margin-right: 0;
}

.form-group label {
    display: block;
    font-size: 14px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}
